---
http_interactions:
- request:
    method: get
    uri: http://api.indeed.com/ads/apisearch?publisher=6374304689104743&q=web%20developer&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><response version="2"><query>web
        developer</query><location></location><paginationPayload></paginationPayload><dupefilter>true</dupefilter><highlight>false</highlight><start>1</start><end>10</end><pageNumber>0</pageNumber><totalresults>42025</totalresults><results><result><jobtitle>Web
        Developer</jobtitle><company>Spotify</company><city>New York</city><state>NY</state><country>US</country><formattedLocation>New
        York, NY</formattedLocation><source>Spotify</source><date>Tue, 15 Nov 2016
        06:28:33 GMT</date><snippet>We are looking for web developers to join our
        teams throughout Spotify. You will be joining one of our highly skilled, cross-functional
        teams as a web developer...</snippet><url>http://www.indeed.com/viewjob?jk=7a8b7bd0f55c4aed&amp;qd=79OgNz9uxOaoD2elRVUm17Q5q1HPXcLB4do2IsT3pnYZogr84oVr0-E-uipI2YdX-k90qpeJEnqRwvaczk4-kJEvDwY-BF8VJIDFNyUMhwY&amp;indpubnum=6374304689104743&amp;atk=1b6ldmd8nbqmoe20</url><onmousedown>indeed_clk(this,'9814');</onmousedown><jobkey>7a8b7bd0f55c4aed</jobkey><sponsored>false</sponsored><expired>false</expired><indeedApply>false</indeedApply><formattedLocationFull>New
        York, NY 10011</formattedLocationFull><formattedRelativeTime>30+ days ago</formattedRelativeTime><stations></stations></result><result><jobtitle>Junior
        Front-End Developer</jobtitle><company>PromGirl, llc</company><city>New York</city><state>NY</state><country>US</country><formattedLocation>New
        York, NY</formattedLocation><source>PromGirl, llc</source><date>Thu, 12 Jan
        2017 19:47:25 GMT</date><snippet>The Junior Front-End Developer will assist
        in bringing initial web concepts and designs to life by completing Front-End
        development duties using HTML5, CSS, and..[...]
